body {
	padding-top: 60px;
	background-color: #eeeeee;
}
p.center {
	text-align: center;
}
.currentClient {
	cursor: pointer;
}
.currentProduct {
	cursor: pointer;
}
.currentLocation {
	cursor: pointer;
}
.currentProject {
	cursor: pointer;
}
.add-on {
	cursor: pointer;
}
.card {
	border: 1px solid #000;
}
.selected {
	font-weight: bold;
}