body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidecard {
	background-color: #F8F8F8;
	padding: 10px 10px 15px 10px;
}
.sidecard:hover {
	background-color: #D4D4D4;
	cursor: pointer;
}
.homecard {
	background-color: #F8F8F8;
	padding: 10px 10px 15px 10px;
	/*height: 200px;*/
}
.homecard:hover {
	background-color: #D4D4D4;
	border-color: black;
	cursor: pointer;
}
.selected {
	background-color: #D4D4D4;
	border-color: black;
}




p.center {
	text-align: center;
}
.currentClient {
	cursor: pointer;
}
.currentProduct {
	cursor: pointer;
}
.currentLocation {
	cursor: pointer;
}
.currentProject {
	cursor: pointer;
}
.currentTeammate {
	cursor: pointer;
}
.add-on {
	cursor: pointer;
}